# Node modules
node_modules/

# Build output
dist/
build/

# Vite cache
.vite/

# Module federation
.__mf__temp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# IDE files
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS files
.DS_Store

# Miscellaneous
logs/
*.log
*.lock